# Database Information.
# Source/Primary Database
DB_NAME=""
DB_HOST=""
# Target Database
DB_TARGET=""
# Database User
DB_USER=""
MYSQL_PWD=""
# Directory Information
VB_DIRECTORY=".."
BACKUP_DIR="/_backup"